In [3]:
# -------------------------------------------------------------
# 작성자 : 백강민
# 작성목적 : SKALA Python Day1 - list, dict 실습 코드
# 작성일 : 2025-01-12
# 변경사항 내역 : 
#   2025-01-12 - 1,2,3번 시나리오 작성
#   2025-01-12 - 4번 시나리오 추가
# -------------------------------------------------------------

employees = [
    {"name": "Alice", "department": "Engineering", "age": 30, "salary": 85000},
    {"name": "Bob", "department": "Marketing", "age": 25, "salary": 60000},
    {"name": "Charlie", "department": "Engineering", "age": 35, "salary": 95000},
    {"name": "David", "department": "HR", "age": 45, "salary": 70000},
    {"name": "Eve", "department": "Engineering", "age": 28, "salary": 78000},
]

# 1) 부서가 "Engineering"이고 salary >= 80000인 직원들의 이름만 리스트로 출력
result1 = [e["name"] for e in employees if e["department"] == "Engineering" and e["salary"] >= 80000]
print("1)", result1)


# 2) 30세 이상인 직원의 (name, department) 튜플 리스트 출력
result2 = [(e["name"], e["department"]) for e in employees if e["age"] >= 30]
print("2)", result2)


# 3) salary 내림차순 정렬 후 상위 3명의 이름과 급여 출력
top3 = sorted(employees, key=lambda e: e["salary"], reverse=True)[:3]
result3 = [(e["name"], e["salary"]) for e in top3]
print("3) top 3")
for rank, (name, salary) in enumerate(result3, start=1):
    print(f" {rank}. {name}: {salary}")


# 4) 모든 부서별 평균 급여 출력
print("4) Department Average Salary")

departments = set(e["department"] for e in employees)

for dept in departments:
    salaries = [e["salary"] for e in employees if e["department"] == dept]
    avg_salary = sum(salaries) / len(salaries)
    print(f" - {dept}: {avg_salary:,.0f}")

1) ['Alice', 'Charlie']
2) [('Alice', 'Engineering'), ('Charlie', 'Engineering'), ('David', 'HR')]
3) top 3
 1. Charlie: 95000
 2. Alice: 85000
 3. Eve: 78000
4) Department Average Salary
 - HR: 70,000
 - Engineering: 86,000
 - Marketing: 60,000